{% extends('AppDashboardBundle::base.html.twig') %}

{% block title %}Casebox core details{% endblock %}

{% block body %}
    <div class="table-responsive">
        <table class="table">
            <tbody>
                <tr>
                    <td><strong>URL:</strong></td>
                    <td>{{ url|raw }}</td>
                </tr>
                <tr>
                    <td><strong>Core name:</strong></td>
                    <td>{{ coreName }}</td>
                </tr>
                <tr>
                    <td><strong>Admin email:</strong></td>
                    <td>{{ adminEmail }}</td>
                </tr>
                <tr>
                    <td><strong>Sender email:</strong></td>
                    <td>{{ senderEmail }}</td>
                </tr>
                <tr>
                    <td><strong>Created at: </strong></td>
                    <td>{{ createdAt }}</td>
                </tr>
                <tr>
                    <td><strong>Last update at: </strong></td>
                    <td>{{ updatedAt }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="core-view-form clearfix">
        {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>

    <ul>
        <li><a href="{{ path('admin_core') }}">Go back</a></li>
    </ul>
{% endblock %}

