{% extends('AppDashboardBundle::base.html.twig') %}

{% block title %}System services and resources{% endblock %}

{% block body %}

    <p>
        In order to restart services, you can login into vagrant box using <code>vagrant ssh</code> command or
        via ssh <code>ssh vagrant@192.168.33.3</code>.
    </p>

    <p>
        The password for <code>vagrant</code> user is <code>vagrant</code>.
    </p>

    <p>
        Or you can use buttons bellow to restart needed service. Visit <a href="{{ url('admin_system_log') }}">logs</a>
        page in order to review the restart progress.
    </p>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

    <ul>
        <li><a href="{{ path('admin_system_service') }}">Go back</a></li>
    </ul>

{% endblock %}

