{% extends('AppDashboardBundle::base.html.twig') %}

{% block title %}Casebox host details{% endblock %}

{% block body %}
    <div class="table-responsive">
        <table class="table">
            <tbody>
                <tr>
                    <td><strong>Address:</strong></td>
                    <td>{{ address }}</td>
                </tr>
                <tr>
                    <td><strong>Document root:</strong></td>
                    <td>{{ docroot }}</td>
                </tr>
                <tr>
                    <td><strong>Environment:</strong></td>
                    <td>{{ environment }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="core-view-form clearfix">
        {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>

    <ul>
        <li><a href="{{ path('admin_sync') }}">Go back</a></li>
    </ul>
{% endblock %}

