{% extends('AppDashboardBundle::base.html.twig') %}

{% block meta %}<meta HTTP-EQUIV="refresh" CONTENT="5">{% endblock %}

{% block title %}System logs{% endblock %}

{% block body %}
    <div class="panel panel-default">
        <div class="panel-body fixed-panel" style="height: 520px; overflow-y: scroll; background-color: black;  font-family: 'Courier New',Courier,'Lucida Sans Typewriter','Lucida Typewriter',monospace; font-size: 13px">

            {{ logs|raw }}

        </div>
        <div class="panel-footer">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>

    <ul>
        <li><a href="{{ path('admin_system_log') }}">Go back</a></li>
    </ul>
{% endblock %}

